@import url('https://fonts.googleapis.com/css?family=Montserrat');
body {
  background-color:  #64717e;
  font-family: Montserrat, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  box-sizing: border-box;
 }
h1, h2 {
  margin-top: 0;
  margin-bottom: 0;
  height: 2em;
}
h3 {
  margin: 10px 0;
}
h6 {
  margin: 5px 0;
  text-transform: uppercase;
}

p {
  font-size: 14px;
  line-height: 21px;
}

button {
  cursor: pointer;
  opacity: 0.8;
}
.card_container {
  background-color: #393E41;
  border-radius: 10px;
  box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.75);
  color: #ffffff;
  padding-top: 5px;
  position: relative;
  width: 300px;
  max-width: 100%;
  text-align: center;
  
}

.card_container .pro {
  color: #393E41;
  background-color: #44BBA4;
  border-radius: 3px;
  font-size: 14px;
  font-weight: bold;
  padding: 3px 7px;
  position: absolute;
  top: 10px;
  left: 10px;
}
.academlo-group{
  color: #393E41;
  background-color: #44BBA4;
  border-radius: 3px;
  font-size: 14px;
  font-weight: bold;
  padding-top:10px;
  position: relative;
  height: 20px;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  text-align: center;
}


.card_container .round {
  border: 1px solid #03BFCB;
  top: -140px;
  border-radius: 50%;
  padding: 1px;
  width: 7.0rem;
  aspect-ratio: 1;
}

button.danger {
  background-color: #d20d0d;
  border: 1px solid #fff;
  border-radius: 5px;
  color: #fff;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  padding: 10px 36px;
}
button.primary {
  background-color: #0bb93a;
  border: 1px solid #e8f0f0;
  border-radius: 5px;
  color: #efedf6;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  padding: 10px 35px;
}


.actions {
  background-color: #44BBA4;
  text-align: left;
  padding: 15px;
  margin-top: 30px;
}

.actions ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.actions ul li {
  border: 1px solid #E7E5DF;
  border-radius: 2px;
  display: inline-block;
  font-size: 12px;
  margin: 0 7px 7px 0;
  padding: 7px;
}


ul {
  padding-left: 0;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
}
h1 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.card-container {
  padding-top: 70px;
  height: 100vh;
  display: grid;
  grid-template-columns:repeat(4, 1fr);
  grid-template-rows:  repeat( n,1fr);
  align-content: flex-start;
  row-gap: 20px;
  column-gap: 8px;
}

.select-actions{
background-color: rgb(40, 43, 43);
color: rgb(20, 20, 21);
}

.header-fixed{
  display:inline-flex;
  width: 100vw;
  flex-direction: column;
  height: 15px;
  position: fixed;
  z-index: 100;
  left: 0px;
  
}

@media (min-width: 700px) and (max-width: 1000px) {
  .card-container {
    padding-top: 100px;
    height: 100vh;
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    grid-template-rows:  repeat( n,1fr);
    align-content: flex-start;
    row-gap: 20px;
    column-gap: 5px;
  }
  }
  
  @media (min-width: 471px) and (max-width: 700px) {
    .card-container {
      height: 100vh;
      display: grid;
      grid-template-columns:repeat(2, 1fr);
      grid-template-rows:  repeat( n,1fr);
      align-content: flex-start;
      row-gap: 20px;
      column-gap: 5px;
    }
  }
  
  @media (min-width: 100px) and (max-width: 470px) {
    .card-container {
      height: 100vh;
      display: grid;
      grid-template-columns:repeat(1, 1fr);
      grid-template-rows:  repeat( n,1fr);
      align-content: flex-start;
      row-gap: 20px;
      column-gap: 1px;
    }  
  }